[data-w-collapse] {
  display: none;
  overflow: hidden;
  transition: height 0.3s ease;
}

[data-w-collapse-active] {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  [data-w-collapse] {
    transition: none;
  }
}
