@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shiki-color-text: #000;
  --shiki-color-background: transparent;
  --shiki-token-constant: #f87171;
  --shiki-token-string: red;
  --shiki-token-comment: #880000;
  --shiki-token-keyword: #a855f7;
  --shiki-token-parameter: #aa0000;
  --shiki-token-function: #3b82f6;
  --shiki-token-string-expression: #84cc16;
  --shiki-token-punctuation: #dd0000;
  --shiki-token-link: blue;
}

html *::-webkit-scrollbar {
  width: 14px;
}

html *::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

html *::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

html.dark *::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

html.dark body {
  @apply bg-slate-950 text-slate-300;
}

html.dark .prose {
  @apply text-slate-300;
}

html.dark {
  --shiki-color-text: #cbd5e1;
}

pre > code {
  @apply grid;
}

code {
  counter-reset: line;
}

code > [data-line] {
  @apply px-3 border-l-2 border-l-transparent;
}

code > [data-highlighted-line] {
  @apply bg-slate-50 border-l-slate-200;
}

code [data-highlighted-chars] {
  @apply rounded shadow bg-slate-200 p-1;
}

code [data-chars-id] {
  @apply border-b-2;
}

code [data-chars-id="gci"] {
  @apply border-b-red-500 bg-red-400/30 text-red-500 !important;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  @apply text-slate-300 text-right mr-8 inline-block w-4 dark:text-slate-600;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

.showcase-preview {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.content-table thead {
  @apply top-0 z-10 sticky bg-slate-50/70  dark:bg-slate-900/70  backdrop-blur  overflow-x-auto grid;
}

.content-table thead tr {
  @apply flex;
}

.content-table th {
  @apply font-medium flex-grow flex-shrink-0 basis-[150px] p-4 text-left;
}

.content-table tbody {
  @apply overflow-x-auto grid;
}

.content-table tbody tr {
  @apply flex;
}

.content-table tbody td {
  @apply flex-grow flex-shrink-0 basis-[150px] p-4 border-t border-slate-50 dark:border-slate-800;
}

.content-table code {
  @apply p-1 rounded bg-slate-50 font-semibold dark:bg-slate-800;
}

[data-rehype-pretty-code-figure] {
  @apply my-0;
}

[data-rehype-pretty-code-figure] + [data-rehype-pretty-code-figure] > div {
  @apply border-t-0 rounded-t-none;
}

[data-rehype-pretty-code-figure] + .content-table {
  @apply border-t-0 rounded-t-none mt-0;
}

[data-w-linted] {
  @apply bg-yellow-500 dark:text-black;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose a {
  @apply text-inherit;
}

.prose p code {
  @apply p-1 rounded bg-slate-50 font-semibold dark:bg-slate-800 inline-block;
}

.prose p a code {
  @apply text-indigo-500 underline;
}

@media (max-width: 610px) {
  .prose {
    font-size: 0.875rem;
    line-height: 1.8;
  }
}

@media (max-width: 1280px) {
  .sidebar.sidebar--active {
    width: 95%;
  }
  .sidebar.sidebar--active .sidebar__nav-container {
    display: block;
  }
  .sidebar.sidebar--active + .sidebar-overlay {
    display: block;
  }
}

@media (min-width: 1280px) {
  .sidebar.sidebar--desktop-unactive {
    width: 20px;
  }
  .sidebar.sidebar--desktop-unactive .sidebar__nav-container {
    display: none;
  }
}
