[data-carousel] {
  position: relative;
  overflow: hidden;
  width: 100%;
}

[data-carousel-item] {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  display: none;
  /* height: 100%; */
  backface-visibility: hidden;
}

[data-carousel-item][data-active] {
  display: block;
}
