[data-modal] {
  position: fixed;
  min-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  padding: 10px;
  opacity: 0;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.35);
}

[data-modal][data-active] {
  opacity: 1;
  display: flex;
}
